@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Questrial&display=swap');


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    flex-direction: column;
    color: #ffffff;
    position: relative;
    letter-spacing: 2px;
    text-align: center;
}


.hero h3 {
    font-size: 35px;
    font-family: 'Staatliches', cursive;
    font-weight: 1;
}

.hero span {
    color: var(--text-white);
    max-height: 100%;
    padding-top: 15px;
    font-size: 65px;
    font-family: 'Abril Fatface', cursive;
}

.herobtn {
    -webkit-appearance: none;
    width: 250px;
    color: #ffffff;
    font-size: 22px;
    background-color: var(--text-primary);
    border-radius: 5%;
    padding: 20px 10px;
    font-family: 'Staatliches', cursive;
    cursor: pointer;
    text-align: center;
 }
.hero img {
    height: 200px;
    width: 200px;
    margin-top: 20px;
}

@media (max-width: 740px) {
    .herobtn{ 
        display: none;
    }
    .hero {
        max-width:100%;
        margin: 0 auto;
        text-align: center;
        height: 65%;
    }
    .typer {
        max-height: 100%;
        padding-top: 10px;
        font-size: 40px;
        width: 90%;
    }
    .hero h3 {
        max-height: 100%;
        padding-top: 10px;
        font-size: 25px;
        width: 90%;
    }
    .hero img {
        height: 150px;
        width: 150px;
        margin-top: 10px;
    }
    .hero span {
        font-size: 28px;
        text-align: center;
    }
    

}

