* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  min-width: 100vw;
  overflow-x: hidden;
}

:root {
  --text-primary: #3d8686;
  --text-secondary: #03445E;
  --text-terciary: #A9D3A7;

  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --background-color-light: white;
  --background-color-grey: #888888;
  --box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
}


